@import '~vuetify/src/components/VDataTable/_variables.scss';
@import '~vuetify/src/components/VToolbar/_variables.scss';

$body-font-family: 'Poppins';
$font-size-root: 14px;

$data-table-scroll-bar-width: 5px;
$data-table-regular-row-height: 40px;
$data-table-regular-header-height: 40px;
