.ct-status-primary{
  color:#5dafff;
  background-color:transparent !important;
}
.ct-status-success{
  color:#81de85;
  background-color:transparent !important;
}
.ct-status-warning{
  color:#ffb962;
  background-color:transparent !important;
}
[role='columnheader'] span{
  color: #aaa;
  font-weight: normal;
  font-size: 12px;
}